.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .question {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .question .delete-btn {
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    float: right;
  }
  
  .question .delete-btn:hover {
    background-color: #cc0000;
  }
  
  .question .edit-btn {
    background-color: #ffc107;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    float: right;
    margin-right: 10px;
  }
  
  .question .edit-btn:hover {
    background-color: #e0a800;
  }
  
  .input[type="text"] {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .input[type="submit"]:hover {
    background-color: #0062cc;
  }
  .error-message {
    color: #ff0000;
    margin-top: 5px;
    margin-bottom: 0;
  }